<form class="signup-form">
	<p>Recently move? In a new place, or making a fresh start?  Maybe you're just looking for someone to nerd out with Doctor Who or catch a movie.  That can be rough.  People at work might not be your cup of tea, or you could be just looking to have some more people to interact with.

	<p>Coop wants to let our attachment to technology lend a hand in setting you up with people who are like you.

	<p>One last thing.  We just want to be friends. </p>


	{{#if signedUp}}
		<h4>Got it.  Welcome to co&middot;op.</h4>
		<p>You're all signed up. We're not ready to show off the app just yet, but as soon as we do, you'll know.</p>
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="I just signed up for #coop. Get a spot in the beta while they last: http://co-op.io" data-via="landongn" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	{{else}}
	<label for="username">
		<span class="tooltip">use a nickname, not your personal information.</span>
		{{input type="text" name="username" placeholder="username" value=username}}
		<span {{bind-attr class=":validator invalidUsername"}}>{{failureUsername}}</span>
	</label>

	<label for="email">
		<span class="tooltip">We need a way to contact you sometimes.</span>
		{{input type="text" name="email" placeholder="email" value=email}}
		<span {{bind-attr class=":validator invalidEmail"}}>{{failureEmail}}</span>
	</label>

	<label for="password">
		<span class="tooltip">In the spirit of new adventures, try a password you've never used before.</span>
		{{input type="password" name="password" placeholder="password" value=password}}
		<span {{bind-attr class=":validator invalidPassword"}}>{{failurePassword}}</span>
	</label>

	<label for="passwordConfirm">
		<span class="tooltip">Can you follow directions?</span>
		{{input type="password" name="passwordConfirm" placeholder="password" value=passwordConfirm}}
		<span {{bind-attr class=":validator invalidPassword"}}>{{failurePassword}}</span>
	</label>
	
	<button class="button submit-signup-button" {{action 'attemptRegistration'}}>Get on the waiting list <i class="fi-right-arrow"></i></button>
</form>
{{/if}}